body {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;

    background-color: #b9b9b9;

    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;

    color: #222;
}

.container {
    background-color: palevioletred;
    padding: 30px;
}

nav {
    margin-bottom: 20px;
}

nav a {
    color: #1f4b99;
    text-decoration: none;
    margin-right: 15px;
}

a:hover {
    color: red;
    text-decoration: underline;
}

h1 {
    color: #1f4b99;
    margin-bottom: 5px;

}

h2 {
    color: #1f4b99;
    margin-top: 40px;
}

section {
    margin-bottom: 30px;
}

hr {
    margin: 30px 0;
}